$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);

.proficiencies {
    width: 100%;
    background-color: $primaryColor;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap;

    .proficiency-board {
        height: 300px;
        min-width: 300px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        background-color: $secondaryColor;
        padding: 0 1rem 2rem 1rem;
        border: 3px solid white;
        border-radius: 20px;

        .proficiency-title {
            font-weight: 500;
            margin: 1rem 0;
        }

        .proficiency-list {
            background-color: white;
            color: $primaryColor;
            height: 80%;
            border-radius: 10px;
            padding: 0.7rem 2rem;
        }
    }
}