<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="nav-container">
        <a class="default" href="javascript:void(0);"> @deceeeeee </a>
        <a class="nav-links" href="../"> Home </a>
        <div class="dropdown">
            <a class="nav-links" href="javascript:void(0);"> Portfolio <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-items" ng-repeat="links in navbar" href="{{links.url}}">{{links.name}}</a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="title">
            <div class="title-box">
                <h1> {{ProjectOverview.title}} </h1>
                <div class="responsive">
                    <em ng-repeat="(type, coding) in ProjectOverview.programminglanguage"> {{type}}: {{concatData(coding)}} </em>
                </div>
            </div>
            <div class="title-box">
                <div class="responsive">
                    <h2> Project Overview </h2>
                </div>
                <p> {{ProjectOverview.description}} </p>
            </div>
        </div>
    </header>

    <div class="modal" ng-show="showmodal" ng-click="zoomin()">
        <div class="modal-content">
            <img src="{{modal_img_url}}">
        </div>
    </div>

    <section class="main">
        <a href="javascript:void(0);" id="content">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="sub-main">
            <div class="left">
                <div class="content tools" id="level1">
                    <h2> {{tools.title}} </h2>
                    <ul>
                        <li> Programming Language: {{concatData(tools.programminglanguage)}} </li>
                        <li> Software: {{concatData(tools.software)}} </li>
                        <li> Libraries/Frameworks: {{concatData(tools.lib_or_framework)}} </li>
                    </ul>
                </div>

                <div ng-repeat="list in features" class="content task-specification other-features" id="level{{prefix = $index+2}}">
                    <h2> {{list.title}} </h2>
                    <div class="task-specification-item" ng-repeat="x in list.features">
                        <h3 id="level{{prefix}}_{{$index+1}}"> {{$index+1}}. {{x.name}} </h3>
                        <div ng-repeat="item in x.explanation">
                            <p class="desc"> {{item.description}} </p>
                            <div class="grid-image" ng-if="item.image_url">
                                <img ng-repeat="y in item.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="200">
                            </div>
                            <ul ng-if="item.description_list" ng-repeat="items in item.description_list">
                                <li> {{items.name}} </li>
                                <p> {{items.description}} </p>
                                <div class="grid-image">
                                    <img ng-repeat="y in items.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="200">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <h3> Contents </h3>
                <a href="#level1"> Tools and Software </a>
                
                <div ng-repeat="x in features">
                    <a href="#level{{title = $index + 2}}"> {{x.title}} </a>
                    <div class="sub-nav">
                        <a ng-repeat="y in x.features" href="#level{{title}}_{{$index+1}}"> {{y.name}} </a>
                    </div>
                </div>
                
            </div>
    </section>

</body>