$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);

.portfolio-container {
    width: 100%;
    height: 80vh;
    padding: 0;
    margin: 0;
    // justify-content: center;
    
    .react-multi-carousel-track {
        align-self: baseline;
        height: 100%;
    }

    .portfolio-item-holder {
        height: 100%;
    }

    .portfolio-carousel-dot {
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        border-radius: 50%;
        margin: 10px 5px;
        background-color: #FFF;
        transition: all 0.5s ease;

        &.active {
            background-color: $primaryColor;
        }
    }

    .portfolio-item {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;

        &.dark-bg {
            background-color: $primaryColor;
        }

        .btn-portfolio {
            background-color: $primaryColor;
            color: #FFF;
            border: 3px solid $primaryColor;
            padding: 0.6rem 1rem;
            text-decoration: none;
            cursor: pointer;
            border-radius: 15px;
            transition: all 0.5s ease;

            &:hover,
            &:active,
            &:focus {
                border-color: $secondaryColor;
                color: $secondaryColor;
            }
        }

        .portfolio-cover {
            width: 100%;
            min-height: 100%;
        }
        
        @media screen and (max-width: 1240px) {
            justify-content: center;

            .portfolio-cover {
                width: auto;
            }
        }
        
        .portfolio-info-container {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .portfolio-info {
                width:80%;
                height: 40%;
                position: relative;

                .portfolio-info-name {
                    font-size: 4rem;
                    font-weight: 700;
                }
                .portfolio-info-type {
                    font-style: italic;
                    background-color: rgba(27, 38, 44, 0.85);
                    padding: 0.6rem;
                    border-radius: 15px;
                }
                .portfolio-info-desc {
                    margin-top: 15px;
                    width: 90%;
                }

                .portfolio-btn-container {
                    position: absolute;
                    bottom: -100px;
                    right: 0;

                    .btn-portfolio-detail {
                        float: right;
                    }
                }

                @media screen and (max-width: 768px) {
                    height: 90%;
                    
                    .portfolio-btn-container {
                        bottom: 40px;
                    }
                }
            }
        }

    }
}