.header {
    width: 100%;
    margin-bottom: 30vh;
    border: 10px solid black;
    height: 480px;
    // margin: 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 800;
    }
}