.contact {
    width: 100%;
    height: 100%;
    // border: 10px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    padding: 2rem 4rem 2rem;

    a {
        color: #000;
        text-decoration: underline;
        transition: 0.2s linear;
        margin: 0.1rem 0;

        &:hover {
            // opacity: 0.75;
            // font-size: 1.01rem;
        }
    }

    &-title {
        padding: 1rem 3.5rem;
        width: 55%;

        h1 {
            width: 90%;
            font-weight: 900;
            font-size: 6vw;
            line-height: 6rem;
        }
    }

    &-content {
        width: 45%;
        height: 50vh;
        position: relative;
        padding: 0.7rem 0;
        
        .contact-address {
            align-items: center;
            margin-bottom: 4rem;

            &-title {
                margin-left: -6px;

                h2 {
                    font-size: 7.5vw;
                    font-weight: 700;
                    margin: 0;
                }
            }

            &-info {
                text-align: justify;
                white-space: pre-line;
            }
        }

        .contact-info {
            margin-bottom: 2rem;
        }

        .contact-section-title {
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: 0.2rem;
        }

        .contact-socmed {
            .socmed-list {
                display: flex;
                gap: 10px;

                & a {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 695px) {
    .contact {
        flex-direction: column;

        padding: 1.5rem 2rem;

        &-title {
            width: 100%;
            padding: 1rem 0;
            margin-left: -5px;

            h1 {
                width: 100%;
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }

        &-content {
            width: 80%;

            .contact-address {
                &-title {
                    h2 {
                        font-size: 15vw;
                        letter-spacing: -2px;
                    }
                }
            }
        }
    }
}