$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);
$primaryTextColor: var(--primary-text-color);

.contact {
    width: 100%;
    background-color: $primaryColor;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;

    .contact-title {
        h2 {
            font-size: 4rem;
            color: $secondaryColor;
        }
    }

    .contact-content {
        display: grid;
        grid-template-columns: 280px 280px;

        @media screen and (max-width: 768px) {
            width: 100%;
            grid-template-columns: auto;
        }

        &-item {
            padding: 0.2rem 1rem 0.5rem;
            margin: 1rem;
            transition: all 0.4s ease;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: $secondaryColor;

                .contact-content-link {
                    opacity: 0.8;
                    font-size: 1rem;
                }
            }

            .contact-content-name {
                margin-bottom: 0;
                font-size: 1.3rem;
            }

            .contact-content-link {
                text-decoration: none;
                color: $primaryTextColor;
                transition: all 0.4s ease;
                width: 100%;
                // cursor: pointer;
            }
        }
    }
}