<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> deceeeeee - Portfolio </title>
    <link rel="icon" type="image/x-icon" href="../Pics/profilepicture.png">
    <link rel="stylesheet" type="text/css" href="../css/page-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        header.intro {
            background-image: url("../Pics/Portfolio_image/Furniture Store Website(PHP)/logistic.png");
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="nav-container">
        <a class="default" href="javascript:void(0);"> @deceeeeee </a>
        <a class="nav-links" href="../"> Home </a>
        <div class="dropdown">
            <a class="nav-links" href="javascript:void(0);"> Portfolio <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-items" ng-repeat="links in navbar" href="{{links.url}}">{{links.name}}</a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="title">
            <div class="title-box">
                <h1> {{ProjectOverview.title}} </h1>
                <div class="responsive">
                    <em ng-repeat="(type, coding) in ProjectOverview.programminglanguage"> {{type}}: {{concatData(coding)}} </em>
                </div>
            </div>
            <div class="title-box">
                <div class="responsive">
                    <h2> Project Overview </h2>
                </div>
                <p> {{ProjectOverview.description}} </p>
            </div>
        </div>
    </header>

    <div class="modal" ng-show="showmodal" ng-click="zoomin()">
        <div class="modal-content">
            <img src="{{modal_img_url}}" height="400">
        </div>
    </div>

    <section class="main">
        <a href="javascript:void(0);" id="content">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="sub-main">
            <div class="left">
                <div class="content tools" id="level1">
                    <h2> {{tools.title}} </h2>
                    <ul>
                        <li> Programming Language: {{concatData(tools.programminglanguage)}} </li>
                        <li> Software: {{concatData(tools.software)}} </li>
                        <li> Libraries/Frameworks: {{concatData(tools.lib_or_framework)}} </li>
                    </ul>
                </div>

                <h2> {{features.title}} </h2>
                <div class="content task-specification" id="level3" ng-repeat="x in features.features">
                    <div class="task-specification-item">
                        <h3 id="level2_{{$index+1}}"> {{$index+1}}. {{x.name}} </h3>
                        <div ng-repeat="item in x.explanation">
                            <p class="desc"> {{item.description}} </p>
                            <div class="grid-image" ng-if="item.image_url">
                                <img ng-repeat="y in item.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="200">
                            </div>
                            <ul ng-if="item.description_list" ng-repeat="items in item.description_list">
                                <li> {{items.name}} </li>
                                <p> {{items.description}} </p>
                                <div class="grid-image">
                                    <img ng-repeat="y in items.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="200">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <h3> Contents </h3>
                <a href="#level1"> Tools and Software </a>
                <a href="#level2"> Updated Features </a>
                <div class="sub-nav" ng-repeat="x in features.features">
                    <a href="#level2_{{$index+1}}"> {{x.name}} </a>
                </div>
            </div>
    </section>

</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope){

        // Initial value
        $scope.counter = 0;
        $scope.showmodal = false;
        $scope.modal_img_url = "";
        $scope.porto_img_path = "../Pics/Portfolio_image/Furniture Store Website(PHP)/";
        
        
        // Functions
        $scope.concatData = function(array) {
            return array.join(", ");
        }

        $scope.zoomin = function(src = ""){
            $scope.modal_img_url = $scope.porto_img_path + src;
            $scope.showmodal = !$scope.showmodal;
        }

        // Data
        $scope.navbar = [
            {
                name: "Landing Page",
                url: "landing-page.html"
            },
            {
                name: "Weather Forecast",
                url: "weatherforecast.html"
            },
            {
                name: "Mantis Bug Tracker",
                url: "mantisbugtracker.html"
            },
            {
                name: "Course Selection System",
                url: "courseselectionsystem.html"
            }
        ];

        $scope.ProjectOverview = {
            title: "Furniture Store Website (Remake)",
            programminglanguage: {
                backend: ["PHP"],
                frontend: ["HTML", "CSS", "JavaScript"],
                database: ["MySQL"],
            },
            description: "This is an updated version of my thesis project. This website is remade with PHP as the back-end. The implementation of jQuery improves the UI and UX of this website.",
        };

        $scope.tools = {
            title: "Tools and Software",
            programminglanguage: [
                $scope.concatData($scope.ProjectOverview.programminglanguage.backend),
                $scope.concatData($scope.ProjectOverview.programminglanguage.frontend),
                $scope.concatData($scope.ProjectOverview.programminglanguage.database)
            ],
            software: [
                "Visual Studio Code, XAMPP"
            ],
            lib_or_framework: [
                "Font-awesome w3schools",
                "Ajax/JQuery"
            ]
        }

        $scope.features = {
            title: "Updated Features",
            features: [
                {
                    name: "Index page",
                    explanation: [
                        {
                            description: "The website layout has changed a little bit since the last project. In this project, the files created for the website has decreased a lot because the implementation of javascript. The index page contains all the furniture informations. Lets see what are the difference!",
                            description_list: [
                                {
                                    name: "Homepage",
                                    description: "Homepage is the index of this website. This page now contains furniture category options and recommended product display for visitor and customer users.",
                                    image_url: [
                                        "index.png",
                                        "index_recommend.png"
                                    ]
                                },
                                {
                                    name: "Store introduction",
                                    description: "This page introduce the store's background, contractor, and the project ideas. The inquiries has been moved to another side of the page.",
                                    image_url: [
                                        "projectideas.png"
                                    ]
                                },
                                {
                                    name: "Contact",
                                    description: "The difference between the last project and this for this index page is the footer. This website index now has a footer which contains the inquiries of the store, suggestion form, and subscription form.",
                                    image_url: [
                                        "footer.png"
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    name: "Login/Register Page",
                    explanation: [
                        {
                            description: "Login and register page have a huge changes too. This is once again because of more implementation of javascript in this website.",
                            description_list: [
                                {
                                    name: "Login Page",
                                    description: "Users don't have to access new page to log in anymore. They can simply hover the 'account' tab and another options will show up, which is login and register. If the user click login, the modal box will show up and user can log in.",
                                    image_url: [
                                        "login.png"
                                    ]
                                },
                                {
                                    name: "Register Page",
                                    description: "If the user wants to register an account for this website, they can click the register and they will be redirected to register page. This time, users can choose the account type and the form will be displayed according to which user type that they choose.",
                                    image_url: [
                                        "register.png",
                                        "register_customer.png",
                                        "register_seller.png"
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    name: "Catalog Display",
                    explanation: [
                        {
                            description: "The display of the product is slightly different from before. Now users can click the category on the side navigation bar to choose which category they are looking for. Search feature is also available in this page so that users can specifically search for commodities they are looking for.",
                            image_url: [
                                "catalogpage.png",
                                "catalogpage2.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Product Display",
                    explanation: [
                        {
                            description: "This page is also improved and side navigation bar has been added for users to move around in the website easily. The rest is just the same as before.",
                            image_url: [
                                "productdisplay.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Shopping Cart and Purchase History",
                    explanation: [
                        {
                            description: "Shopping cart UI is now user-friendly. User can now adjust the quantity through the shopping cart page by clicking the button or clicking the quantity of the products that they put in the shopping cart.",
                            image_url: [
                                "shoppingcart.png",
                                "shoppingcart2.png"
                            ]
                        },
                        {
                            description: "Besides shopping cart, purchase history UI has changed also. The list of purchase history looks more interesting than before. Instead of displaying by words, the progress of the order is now displayed by color. White for pending, yellow for delivered, green for received and red for cancelled.",
                            image_url: [
                                "purchasehistory.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Seller Page",
                    explanation: [
                        {
                            description: "Seller page doesn't change much since the last project. The purpose of seller account page is still the same. But now, sellers can do a live search for their own catalog.",
                            image_url: [
                                "orderrequest.png",
                                "sellercatalog.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Administrator Dashboard",
                    explanation: [
                        {
                            description: "Administrator page is now a better, user-friendly page. The layout, table, and everything, has been changed to give a comfortable use for the administrator of this website. Admin can now check account's info or product's info without accessing another page.",
                            image_url: [
                                "accountcontrol.png",
                                "accountcontrol2.png",
                                "logistic.png",
                                "logistic2.png"
                            ]
                        },
                        {
                            description: "The create and update form UI for product management has been updated too.",
                            image_url: [
                                "add.png",
                                "update.png"
                            ]
                        }
                    ]
                },
            ]
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../JS/dropdown.js"></script>
<script src="../JS/project-template.js"></script>