<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Portfolio </title>
    <link rel="icon" type="image/x-icon" href="../Pics/profilepicture.png">
    <link rel="stylesheet" type="text/css" href="../css/page-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        header.intro {
            background-image: url("../Pics/Portfolio_image/Landing Page/landingpage.png");
        }

        .modal {
            display: block;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="nav-container">
        <a class="default" href="javascript:void(0);"> @deceeeeee </a>
        <a class="nav-links" href="../"> Home </a>
        <div class="dropdown">
            <a class="nav-links" href="javascript:void(0);"> Portfolio <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-items" ng-repeat="links in navbar" href="{{links.url}}">{{links.name}}</a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="title">
            <div class="title-box">
                <h1> {{ProjectOverview.title}} </h1>
                <div class="responsive">
                    <em> Back-end: {{concatData(ProjectOverview.programminglanguage.backend)}} </em>
                    <em> Front-end: {{concatData(ProjectOverview.programminglanguage.frontend)}} </em>
                    <em> Database: {{concatData(ProjectOverview.programminglanguage.database)}} </em>
                </div>
            </div>
            <div class="title-box">
                <div class="responsive">
                    <h2> Project Overview </h2>
                </div>
                <p> {{ProjectOverview.description}} </p>
            </div>
        </div>
    </header>

    <div class="modal" ng-show="showmodal" ng-click="zoomin()">
        <div class="modal-content">
            <img src="{{modal_img_url}}" height="400">
        </div>
    </div>

    <section class="main">
        <a href="javascript:void(0);" id="content">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="sub-main">
            <div class="left">
                <div class="content tools" id="level1">
                    <h2> {{tools.title}} </h2>
                    <ul>
                        <li> Programming Language: {{concatData(tools.programminglanguage)}} </li>
                        <li> Software: {{concatData(tools.software)}} </li>
                        <li> Libraries/Frameworks: {{concatData(tools.lib_or_framework)}} </li>
                    </ul>
                </div>

                <h2> {{features.title}} </h2>
                <div class="content task-specification" id="level2" ng-repeat="x in features.features">
                    <div class="task-specification-item">
                        <h3 id="level2_{{$index+1}}"> {{$index+1}}. {{x.name}} </h3>
                        <div ng-repeat="item in x.explanation">
                            <p class="desc"> {{item.description}} </p>
                            <div class="grid-image">
                                <img ng-repeat="y in item.image_url" src="{{y}}" ng-click="zoomin(y)" width="375" height="200">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <h3> Contents </h3>
                <a href="#level1"> {{tools.title}} </a>
                <a href="#level2"> {{features.title}} </a>
                <div class="sub-nav" ng-repeat="x in features.features">
                    <a href="#level2_{{$index+1}}"> {{x.name}} </a>
                </div>
            </div>
    </section>

</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope){

        // Initial value
        $scope.counter = 0;
        $scope.showmodal = false;
        $scope.modal_img_url = "";

        // Functions
        $scope.concatData = function(array) {
            return array.join(", ");
        }

        $scope.zoomin = function(src = ""){
            $scope.showmodal = !$scope.showmodal;
            $scope.modal_img_url = src;
            console.log($scope.modal_img_url);
        }

        // Data
        $scope.navbar = [
            {
                name: "Furniture Store Website",
                url: "furniturestore1.html"
            },
            {
                name: "Furniture Store Website(Remake)",
                url: "furniturestore2.html"
            },
            {
                name: "Weather Forecast",
                url: "weatherforecast.html"
            },
            {
                name: "Course Selection System",
                url: "courseselectionsystem.html"
            },
        ];

        $scope.ProjectOverview = {
            title: "Landing Page",
            programminglanguage: {
                backend: ["PHP"],
                frontend: ["HTML", "CSS", "JavaScript"],
                database: ["MySQL"],
            },
            description: "This project is initiated because of the test case given by one company for the technical test. In this project, I chose my Furniture Store Website project as the content for the landing page. This landing page is quite responsive and friendly to most mobile devices.",
        };

        $scope.tools = {
            title: "Tools and Software",
            programminglanguage: [
                $scope.concatData($scope.ProjectOverview.programminglanguage.backend),
                $scope.concatData($scope.ProjectOverview.programminglanguage.frontend),
                $scope.concatData($scope.ProjectOverview.programminglanguage.database)
            ],
            software: [
                "Visual Studio Code",
                "XAMPP"
            ],
            lib_or_framework: [
                "Font-awesome w3schools",
                "Ajax/JQuery"
            ]
        }

        $scope.features = {
            title: "Features",
            features: [
                {
                    name: "Landing Page",
                    explanation: [
                        {
                            description: "The landing page has registration form so that once the user get into this page, there will be a higher chance that they will register an account for this website if they are interested in furniture. This is called CTA(Call To Action).",
                            image_url: ["../Pics/Portfolio_image/Landing Page/landingpage.png"]
                        },
                        {
                            description: "The registration form also has data validation which makes sure that the correct data will be input. For example, phone number and postal code should be numbers. Once the user try to input a letter in the text input, the text input will be cleared by itself, rejecting letters input.",
                            image_url: []
                        }
                    ]
                },
                {
                    name: "Login Modal Box",
                    explanation: [
                        {
                            description: "If the user click login on the top-right of the page, this login form will show up. Then user can log into the website with the account they have created.",
                            image_url: ["../Pics/Portfolio_image/Landing Page/loginform.png"]
                        }
                    ]
                },
                {
                    name: "User Table",
                    explanation: [
                        {
                            description: "The landing page has registration form so that once the user get into this page, there will be a higher chance that they will register an account for this website if they are interested in furniture. This is called CTA(Call To Action)",
                            image_url: [
                                "../Pics/Portfolio_image/Landing Page/update.png",
                                "../Pics/Portfolio_image/Landing Page/usertable.png",
                                "../Pics/Portfolio_image/Landing Page/update(2).png"
                            ],
                        }
                    ]
                }
            ]
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../JS/dropdown.js"></script>
<script src="../JS/project-template.js"></script>