<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> deceeeeee - Portfolio </title>
    <link rel="icon" type="image/x-icon" href="../Pics/profilepicture.png">
    <link rel="stylesheet" type="text/css" href="../css/page-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        header.intro {
            background-image: url("../Pics/Portfolio_image/MyPangan/mypangan-logo2.png");
        }

        .modal {
            display: block;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="nav-container">
        <a class="default" href="javascript:void(0);"> @deceeeeee </a>
        <a class="nav-links" href="../"> Home </a>
        <div class="dropdown">
            <a class="nav-links" href="javascript:void(0);"> Portfolio <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-items" ng-repeat="links in navbar" href="{{links.url}}">{{links.name}}</a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="title">
            <div class="title-box">
                <h1> {{ProjectOverview.title}} </h1>
                <div class="responsive">
                    <em ng-repeat="(type, coding) in ProjectOverview.programminglanguage"> {{type}}: {{concatData(coding)}} </em>
                </div>
            </div>
            <div class="title-box">
                <div class="responsive">
                    <h2> Project Overview </h2>
                </div>
                <p> {{ProjectOverview.description}} Click <a target="_blank" href='https://www.mypangan.com'>here</a> to open the website. </p>
            </div>
        </div>
    </header>

    <div class="modal" ng-show="showmodal" ng-click="zoomin()">
        <div class="modal-content">
            <img src="{{modal_img_url}}" height="400">
        </div>
    </div>

    <section class="main">
        <a href="javascript:void(0);" id="content">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="sub-main">
            <div class="left">
                <div class="content tools" id="level1">
                    <h2> {{tools.title}} </h2>
                    <ul>
                        <li> Programming Language: {{concatData(tools.programminglanguage)}} </li>
                        <li> Software: {{concatData(tools.software)}} </li>
                        <li> Database: {{concatData(tools.database)}} </li>
                        <li> Libraries/Frameworks: {{concatData(tools.lib_or_framework)}} </li>
                        <li> Payment Gateway: {{tools.etc.payment_gateway}} </li>
                        <li> Delivery Service: {{tools.etc.delivery_service}} </li>
                    </ul>
                </div>

                <h2> {{features.title}} </h2>
                <div class="content task-specification" id="level2" ng-repeat="x in features.features">
                    <div class="task-specification-item">
                        <h3 id="level2_{{$index+1}}"> {{x.name}} </h3>
                        <div ng-repeat="item in x.explanation">
                            <p class="desc"> {{item.description}} </p>
                            <div class="grid-image">
                                <img ng-repeat="y in item.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="400" height="200">
                            </div>
                            <ul ng-if="item.description_list" ng-repeat="items in item.description_list">
                                <li> {{items.name}} </li>
                                <p> {{items.description}} </p>
                                <div class="grid-image">
                                    <img ng-repeat="y in items.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="175">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <h3> Contents </h3>
                <a href="#level1"> {{tools.title}} </a>
                <a href="#level2"> {{features.title}} </a>
            </div>
    </section>

</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope, $sce){

        // Initial value
        $scope.counter = 0;
        $scope.showmodal = false;
        $scope.modal_img_url = "";
        $scope.porto_img_path = "../Pics/Portfolio_image/MyPangan/";

        // Functions
        $scope.concatData = function(array) {
            return array.join(", ");
        }

        $scope.zoomin = function(src = ""){
            $scope.modal_img_url = $scope.porto_img_path + src;
            $scope.showmodal = !$scope.showmodal;
        }

        // Data
        $scope.navbar = [
            {
                name: "Weather Forecast",
                url: "weatherforecast.html"
            },
            {
                name: "Furniture Store Website(Remake)",
                url: "furniturestore2.html"
            },
            {
                name: "Landing Page",
                url: "landing-page.html"
            },
            {
                name: "Course Selection System",
                url: "courseselectionsystem.html"
            },
        ];

        $scope.ProjectOverview = {
            title: "MyPangan",
            programminglanguage: {
                dashboard: ["Laravel (PHP)"],
                api: ["Laravel (PHP)"],
                website: ["ReactJS"],
                mobileapp: ["Android Kotlin"]
            },
            description: "MyPangan is groceries e-commerce platform. This project has started since January 2021 because of pandemic situation. The idea of this platform is to ease groceries seller and buyer can meet and do transaction. In this page, I will show only the company profile website that I made.",
        };

        $scope.tools = {
            title: "Tools and Software",
            programminglanguage: [
                $scope.concatData($scope.ProjectOverview.programminglanguage.dashboard),
                $scope.concatData($scope.ProjectOverview.programminglanguage.website),
                $scope.concatData($scope.ProjectOverview.programminglanguage.mobileapp)
            ],
            software: [
                "Visual Studio Code"
            ],
            database: [
                "PostgreSQL",
                "MongoDB (NoSQL)"
            ],
            lib_or_framework: [
                "Font-awesome w3schools",
                "Axios (Ajax)",
                "ReactJS",
                "Bootstrap"
            ],
            etc: {
                payment_gateway: "Midtrans, IRIS",
                delivery_service: "Lalamove"
            }
        }

        $scope.features = {
            title: "Pages",
            features: [
                {
                    name: "Homepage",
                    explanation: [
                        {
                            description: "This is the homepage, which is the first page that the user will see.",
                            image_url: ["mypangan-homepage.png", "mypangan-homepage-2.png", "mypangan-homepage-3.png"]
                        }
                    ]
                },
                {
                    name: "About Us",
                    explanation: [
                        {
                            description: "This page introduces our background and our team.",
                            image_url: ["mypangan-aboutus-2.png", "mypangan-aboutus.png"]
                        }
                    ]
                },
                {
                    name: "Partnerships",
                    explanation: [
                        {
                            description: "Instructions for joining MyPangan as sellers.",
                            image_url: ["mypangan-become-a-seller.png"]
                        }
                    ]
                },
                {
                    name: "Download Page",
                    explanation: [
                        {
                            description: "Let user to download MyPangan app by redirecting them to Google Playstore.",
                            image_url: ["mypangan-download-page.png"]
                        }
                    ]
                },
                {
                    name: "Custom Error Page",
                    explanation: [
                        {
                            description: "Default error page is displayed if the accessed URL path does not exist. Doesn't look original since it looks like Laravel Error Page, does it?",
                            image_url: ["mypangan-error-page.png"]
                        }
                    ]
                }
            ]
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../JS/dropdown.js"></script>
<script src="../JS/project-template.js"></script>