<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> deceeeeee - Portfolio </title>
    <link rel="icon" type="image/x-icon" href="../Pics/profilepicture.png">
    <link rel="stylesheet" type="text/css" href="../css/page-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        header.intro {
            background-image: url("../Pics/Portfolio_image/Taraco/taraco-start-page.png");
            background-size: cover;
        }

        .modal {
            display: block;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="nav-container">
        <a class="default" href="javascript:void(0);"> @deceeeeee </a>
        <a class="nav-links" href="../"> Home </a>
        <div class="dropdown">
            <a class="nav-links" href="javascript:void(0);"> Portfolio <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-items" ng-repeat="links in navbar" href="{{links.url}}">{{links.name}}</a>
            </div>
        </div>
    </nav>

    <header class="intro">
        <div class="title">
            <div class="title-box">
                <h1> {{ProjectOverview.title}} </h1>
                <div class="responsive">
                    <em ng-repeat="(type, coding) in ProjectOverview.programminglanguage"> {{type}}: {{concatData(coding)}} </em>
                </div>
            </div>
            <div class="title-box">
                <div class="responsive">
                    <h2> Project Overview </h2>
                </div>
                <p ng-bind-html="ProjectOverview.description"> </p>
            </div>
        </div>
    </header>

    <div class="modal" ng-show="showmodal" ng-click="zoomin()">
        <div class="modal-content">
            <img src="{{modal_img_url}}">
        </div>
    </div>

    <section class="main">
        <a href="javascript:void(0);" id="content">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="sub-main">
            <div class="left">
                <div class="content tools" id="level1">
                    <h2> {{tools.title}} </h2>
                    <ul>
                        <li> Programming Language: {{concatData(tools.programminglanguage)}} </li>
                        <li> Software: {{concatData(tools.software)}} </li>
                        <li> Libraries/Frameworks: {{concatData(tools.lib_or_framework)}} </li>
                    </ul>
                </div>

                <h2> {{features.title}} </h2>
                <div class="content task-specification" id="level2" ng-repeat="x in features.features">
                    <div class="task-specification-item">
                        <h3 id="level2_{{$index+1}}"> {{x.name}} </h3>
                        <div ng-repeat="item in x.explanation">
                            <p class="desc"> {{item.description}} </p>
                            <div class="grid-image" ng-class="{'four-columns': item.hasOwnProperty('isMobileSnapshot') && item.isMobileSnapshot}">
                                <img ng-repeat="y in item.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" height="200">
                            </div>
                            <ul ng-if="item.description_list" ng-repeat="items in item.description_list">
                                <li> {{items.name}} </li>
                                <p> {{items.description}} </p>
                                <div class="grid-image">
                                    <img ng-repeat="y in items.image_url" src="{{porto_img_path + y}}" ng-click="zoomin(y)" width="375" height="175">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <h3> Contents </h3>
                <a href="#level1"> {{tools.title}} </a>
                <a href="#level2"> {{features.title}} </a>
            </div>
    </section>

</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope, $sce){

        // Initial value
        $scope.counter = 0;
        $scope.showmodal = false;
        $scope.modal_img_url = "";
        $scope.porto_img_path = "../Pics/Portfolio_image/Taraco/";

        // Functions
        $scope.concatData = function(array) {
            return array.join(", ");
        }

        $scope.zoomin = function(src = ""){
            $scope.modal_img_url = $scope.porto_img_path + src;
            $scope.showmodal = !$scope.showmodal;
        }

        // Data
        $scope.navbar = [
            {
                name: "Untar Research Week",
                url: "untarresearchweek.html"
            },
            {
                name: "@cptredbyjosh",
                url: "cptredbyjosh.html"
            },
            {
                name: "MyPangan",
                url: "mypangan.html"
            },
            {
                name: "AgricultureHub",
                url: "agriculturehub.html"
            }
        ];

        $scope.ProjectOverview = {
            title: "Taraco",
            programminglanguage: {
                frontend: ["Javascript"]
            },
            description: $sce.trustAsHtml("Taraco is a furniture and interior design service. The target of this website is to introduce their company with advance UI/UX. This design will not be realized without ReactJS, since a lot of features and animations are quite complicated. Click <a href='http://taracodesign.id' target='_blank'>here</a> to see the website."),
        };

        $scope.tools = {
            title: "Tools and Software",
            programminglanguage: [
                $scope.concatData($scope.ProjectOverview.programminglanguage.frontend)
            ],
            software: [
                "Visual Studio Code"
            ],
            lib_or_framework: [
                "ReactJS",
                "Bootstrap 5",
                "Font Awesome 5",
                "React Slider"
            ]
        }

        $scope.features = {
            title: "Snapshots",
            features: [
                {
                    name: "Initial Page",
                    explanation: [
                        {
                            description: "This website is made unique since it provides loading screen everytime you open it. Then display taraco name and changing background for certain amount of time as on-start page.",
                            image_url: [
                                "taraco-loading-page.png",
                                "taraco-start-page.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Homepage",
                    explanation: [
                        {
                            description: "Homepage displays introduction of Taraco as interior design company. It contains small navigation list on the bottom left and descriptions on the right to call users to check either their furnitures or interior design examples.",
                            image_url: [
                                "taraco-homepage.png",
                            ]
                        },
                        {
                            description: "List of interior design works that they have done.",
                            image_url: [
                                "taraco-work-portfolio.png",
                            ]
                        },
                        {
                            description: "The footer contains usual information such as location, social media, and form. These information are provided for user to get in touch with Taraco.",
                            image_url: [
                                "taraco-footer.png",
                            ]
                        }
                    ]
                },
                {
                    name: "Interior Page",
                    explanation: [
                        {
                            description: "Interior page displays project portfolio of Taraco. Slider background color can change according to the project navigated.",
                            image_url: [
                                "taraco-interior-light.png",
                                "taraco-interior-dark.png",
                            ]
                        }
                    ]
                },
                {
                    name: "Furniture Page",
                    explanation: [
                        {
                            description: "Furniture page displays furnitures that they sell. There are some categories that they offered.",
                            image_url: [
                                "taraco-furniture-list.png"
                            ]
                        },
                        {
                            description: "User can also check the detail of the furniture chosen. There is more information on the detail.",
                            image_url: [
                                "taraco-furniture-details.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Custom Cursor",
                    explanation: [
                        {
                            description: "One of Taraco's website uniqueness is its custom cursor. This cursor display automatically changes on some pages. For interior page, cursor becomes a circle with arrow that points to the left or right, depending on which sides the cursor is on page.",
                            image_url: [
                                "taraco-cursor-demo.png",
                                "taraco-cursor-demo-interior.png"
                            ]
                        }
                    ]
                },
                {
                    name: "Mobile View",
                    explanation: [
                        {
                            description: "Responsivity of this website is maintained quite well too, so that the display is mobile-friendly to mobile users.",
                            image_url: [
                                "mobile-taraco-loading-page.jpg",
                                "mobile-taraco-start-page.jpg",
                                "mobile-taraco-homepage.jpg",
                                "mobile-taraco-footer-1.jpg",
                                "mobile-taraco-footer-2.jpg",
                                "mobile-taraco-interior-light.jpg",
                                "mobile-taraco-interior-dark.jpg",
                                "mobile-taraco-furniture-list.jpg",
                                "mobile-taraco-furniture-details-1.jpg",
                                "mobile-taraco-furniture-details-2.jpg"
                            ],
                            isMobileSnapshot: true
                        }
                    ]
                }
            ]
        }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../JS/dropdown.js"></script>
<script src="../JS/project-template.js"></script>