$primaryColor: var(--base-primary-color);
$secondaryColor: var(--base-secondary-color);

.experiences {
    width: 100%;
    background-color: $primaryColor;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;

    & .experience-container {
        flex: 0 1 auto;
        min-width: 600px;
        padding: 1rem;
        width: 48%;

        &#education {
            width: 97.5%;
        }

        &-title {
            font-weight: 500;
        }
        
        @media screen and (max-width:1240px) {
            min-width: 0;
            width: 97.5%;
        }
    }
}