$primaryColor: var(--base-primary-color);

.navbar {
    font-family: 'Ubuntu';
    background-color: #11171a;
    padding: 10px 20px;
    position: fixed;
    z-index: 1;
    width: 100%;

    .navbar-brand {
        font-weight: 500;
    }

    .nav-link {
        display: flex;
        gap: 6px;
        align-items: center;
    }
}