* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: var(--primary-text-color); */
}

.App {
  font-family: 'Ubuntu';
  color: var(--primary-text-color);
  position: relative;
  min-height: 100vh;
  height: fit-content;
  font-size: 17px;
}

.App.dark-mode {
  background-color: #222222;
  color: #FFF;
}

.App .hide {
  visibility: hidden;
  opacity: 0;
}

.base-bg-dark {
  background-color: var(--base-bg-dark);
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  
  border: 3.5px solid #FFF;
  border-radius: 15px;
}

legend {
  float: none;
  display: block;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  width: fit-content;
}

/* Fonts */
/* 'Ubuntu' Font */

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./Fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* Static 'Roboto' Font */

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Fonts/Roboto/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}